{% extends 'base.html' %}
{% load static %}

{{ avatar_form.media }}


{% block body_content %}
  <div class="circle--actions--bar">
    <nav class="bounds">
      <ul class="circle--pill--list">
        <li><a href="applications.html">Applications</a></li>
        <li><a class="selected" href="{% url 'accounts:profile_detail' pk=user.id %}">Profile</a></li>
      </ul>
    </nav>
  </div>

  <div class="bounds circle--page">
  <form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="circle--page--header circle--fluid">
      <div class="circle--fluid--cell circle--fluid--primary">
        <h2>Profile</h2>
      </div>
      <div class="circle--fluid--cell circle--fluid--secondary">
        <input type="submit" class="button button-primary icon-on-left" value="Save Changes">
      </div>
    </div>

    <div class="grid-70">
      <div class="circle--input--h1">
      {{ profile_form.full_name.label}}
      {{ profile_form.full_name }}
      </div>
      <div class="circle--article--body">
        <div class="circle--input--h1">
        {{ profile_form.bio.label }}
        {{ profile_form.bio }}
        </div>
      </div>

      <h2>Past Projects</h2>
      <table class="u-full-width circle--table">
        <thead>
          <tr>
            <th>Project Title</th>
            <th class="circle--cell--right">Project Needs</th>
          </tr>
        </thead>
        <tbody>
          <tr class="clickable-row" data-href="project.html">
            <td>
              <h3>Invoice Delivery Tool</h3>
            </td>
            <td class="circle--cell--right">
              <span class="secondary-label">Rails Developer</span>
            </td>
          </tr>
          <tr class="clickable-row" data-href="project.html">
            <td>
              <h3>Twitter Client</h3>
            </td>
            <td class="circle--cell--right">
              <span class="secondary-label">Designer</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="grid-25 grid-push-5">

      <div class="">
            <div class="">
              {{ avatar_form }}
          </div>
      </div>

      <div class="circle--secondary--module">
      <br>
        {{ mainskill_form }}
      </div>

      <div class="circle--secondary--module">
        <h4>Other Skills</h4>
        <ul class="circle--clone--list">
          <li>
          </li>
        </ul>
      </div>

      <div class="circle--secondary--module">
        <h4>My Projects</h4>
        <ul class="circle--clone--list">
          <li>
            <input type="text" placeholder="Project Name" />
            <input type="text" placeholder="Project URL" />
            <a class="circle--clone--add">Add Project</a>
            <a class="circle--clone--remove">Remove</a>
          </li>
        </ul>
      </div>
    </div>
  </form>
  {{ form.errors }}
  </div>
{% endblock body_content %}
{% block js %}
{{ avatar_form.media }}
{% endblock js %}