{% extends 'base.html' %}
{% load static %}

{% block body_content %}
  <div class="circle--actions--bar">
    <div class="bounds">
      <div class="grid-100">
      {% if user.is_authenticated and user == project.owner %}
        <a class="button" href="{% url 'projects:project_edit' slug=project.slug %}">Edit Project</a>
        <a class="button button-text" href="{% url 'projects:project_delete' slug=project.slug %}">Delete Project</a>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="bounds circle--page circle--article">
    <div class="grid-70">
      <div class="circle--article--header">
        <h4 class="circle--article--section">Project</h4>
        <h1 class="circle--article--title">{{ project.title|title }}</h1>
        <p class="circle--article--byline">Project Owner: <a>{{ project.owner }}</a></p>
      </div>

      <div class="circle--article--body">
      <p>{{ project.description }}</p>
      </div>

      <div class="circle--project--positions">
        <h2>Positions</h2>

        <ul class="circle--group--list">
          {% for position in project.position_set.all %}
          <li>
            <h3>{{position.title }}</h3>
            <p>{{ position.description }}</p>
            {% if position.position_status == 'APPLY' %}
            <form method="POST" action="{% url 'projects:apply' pk=position.id %}">
              {% csrf_token %}
              <button class="button button-primary" type="submit" value="{{ position.id }}" name="apply">Apply</button>
            </form>
            {% else %}
            <a class="button button-primary button-inactive">Position Filled</a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>

    </div>

    <div class="grid-25 grid-push-5">
      <div class="circle--secondary--module">
        <h3>Project Needs</h3>
        
        <ul class="circle--link--list">
        {% for position in project.position_set.all %}
          <li><a>{{ position.title }}</a></li>
        {% endfor %}
        </ul>
      </div>

      <div class="circle--secondary--module">
        <h3>Project Timeline</h3>
        <p>{{ project.project_timeline }}</p>
      </div>

      <div class="circle--secondary--module">
        <h3>Applicant Requirements</h3>
        <p>{{ project.applicant_requirements }}
      </div>

    </div>
  </div>
{% endblock body_content %}