{% extends 'base.html' %}
{% load static %}

{% block head_title %}Sign Out | {{ block.super }}{% endblock head_title %}

{% block body_content %}
<div class="grid-25 grid-push-40">
<div class="circle--article--body">
    <h1>Sign Out</h1>
    <p>Are you sure you want to sign out ?</p>
    <form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit">Sign Out</button>
</form>
</div>
</div>
{% endblock body_content %}