{% extends 'index.html' %}
{% load static %}
{% load i18n %}
{% load account %}

{% block head_title %}Reset Password Done | {{ block.super }}{% endblock head_title %}

{% block body_content %}
<div class="grid-70 grid-push-5">
<div class="circle--article--body">
        <h1>{% trans "Password Reset" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>

</div>
</div>
{% endblock body_content %}